/* Group selector: all h2 and all div */
h2, div {
  font-family: Arial;
}

/* All paragraphs */
p {
  background-color: lightblue;

  /* BOX MODEL */
  padding: 20px;          /* space inside */
  border: 5px solid blue; /* border */
  margin: 25px;           /* space outside */

  color: black;
}

/* All elements with class abc */
.abc {
  background-color: lightgreen;
  border: 5px solid green;
}

/* Only p elements with class abc */
p.abc {
  font-weight: bold;
}

/* Element with id abc */
#abc {
  background-color: pink;
  border: 5px solid red;
}

/* Only p with id abc */
p#abc {
  font-size: 18px;
}

/* strong elements inside div */
div strong {
  color: red;
  background-color: yellow;
  padding: 3px;
}
